*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --ff-heading: 'Poppins', sans-serif;
  --ff-body: 'Open Sans', sans-serif;

  --clr-white: #ffffff;
  --clr-bg: #674baf;
  --clr-active: #e882e8;
}

body {
  font-family: var(--ff-body);
  font-weight: 400;
  color: var(--clr-white);
  background-color: var(--clr-bg);
  background-image: url('./images/bg-desktop.svg');
  background-repeat: no-repeat;
  background-size: contain;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  max-width: 1280px;
  padding: 3.5rem 1rem;
  margin: 0 auto;
}

/* Logo */
.logo__image {
  height: 3.2rem;
}

/* Register */
.registration {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.illustration {
  flex-basis: 55%;
}

.illustration__img {
  width: 100%;
  height: auto;
}

.info {
  flex-basis: 45%;
  padding-left: 3.8rem;
  transform: translateY(-10%);
}
.info__title {
  font-family: var(--ff-heading);
  font-weight: 600;
  font-size: 2.5rem;
}
.info__description {
  margin-top: 2rem;
  font-size: 1.1rem;
  line-height: 150%;
  opacity: 0.9;
}
.info__register-btn {
  display: inline-block;
  margin-top: 2rem;
  padding: 1rem 4.5rem;
  font-family: var(--ff-heading);
  font-weight: 400;
  font-size: 1.2rem;
  color: var(--clr-bg);
  text-decoration: none;
  background-color: var(--clr-white);
  border-radius: 2rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transition: all 0.3s ease;
}

.info__register-btn:hover {
  color: var(--clr-white);
  background-color: var(--clr-active);
}

/* Socials */
.socials {
  align-self: self-end;
  display: flex;
  gap: 1rem;
}

.socials__icon {
  color: var(--clr-white);
  padding: 0.5rem;
  width: 1.4rem;
  height: 1.4rem;
  border: 1px solid var(--clr-white);
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.3s ease;
}

.socials__icon:hover {
  color: var(--clr-active);
  border: 1px solid var(--clr-active);
}

@media (max-width: 1000px) {
  body {
    background-image: url('./images/bg-mobile.svg');
  }

  .info__title {
    font-size: 2rem;
  }
  .info__description {
    margin-top: 2rem;
    font-size: 1rem;
  }
}

@media (max-width: 800px) {
  .logo {
    margin-bottom: 2rem;
  }
  .logo__image {
    height: 2.3rem;
  }

  .container {
    padding: 3.5rem 3rem;
  }

  .registration {
    flex-direction: column;
  }

  .info {
    transform: none;
    margin-top: 2rem;
    padding: 0;
    text-align: center;
  }

  .info__title {
    font-size: 1.5rem;
  }

  .info__register-btn {
    font-size: 1rem;
    padding: 0.5rem 4.5rem;
  }

  .socials {
    margin-top: 6rem;
    align-self: center;
  }

  .socials__icon {
    padding: 0.5rem;
    width: 1rem;
    height: 1rem;
  }
}
